body > * {
    border : 1px solid hotpink;
    height: 300px;
}

.container {
    display: flex;
}

.container > nav {
    width: 30%;
    float: left;
    background: navajowhite;
    align-self: center;
    margin-right: 20px;
    text-align: center;
}

.container > div {
    width: 40%;
    float: right;
    background: salmon;
    align-self: center;
    margin-right: 20px;
    text-align: center;
}

.container > aside {
    width: 30%;
    float: left;
    background: navajowhite;
    align-self: center;
    text-align: center;
}